/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  font-size: 5ex;
  color: #818181;
  background-color: #fff;
  display:flex;
  flex-flow: column;
  flex: auto;
  }
/*Especificidad: 001*/
h1 {
  color: #fff;    
  background-color:#413f3f; 
  text-transform: uppercase;
  padding: 2em; 
  text-align: center;     
  }
  /*Especificidad: 001*/
  h2 {
    color: #fff;    
    background-color:#7e7e7e; 
    text-transform: uppercase;
    padding: 2em; 
    text-align: center;     
    }
/*Especificidad: 001*/
  main{
    display:flex;
    flex-flow: row;
    flex: auto;
    color: #fff;    
    background-color:#7e7e7e; 
    padding: 2em; 
    text-align: center;  

  }

  section{
    display:flex;
    flex-flow: column;
    flex: auto;
    color: #fff;    
    background-color:#413f3f; 
    padding: 2em; 
    text-align: center; 
  }
  


